<div class="container">
  <h2 class="team-title">Your recipe was successfully created.</h2>
  <hr>
  <div class="questions-container">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="instructions">Your cocktail choice was:</p>
          <h2 class="recipe-title"><%= @recipe.name %></h2>
          <div class="card card-recipe-show" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%=@recipe.image_url%>); background-size: cover" >
          <%# <%= render "favorite", recipe: @recipe %>
          </div>
          <hr>
          <p class="ingredient-list">Ingredients:</p>

          <div class="font-size-ingredient">
            <ul class="bullets">
              <% @recipe.ingredients.each do |ingredient| %>
                <li><i><%= RecipeIngredient.find_by(recipe: @recipe, ingredient: ingredient).measure %></i> - <strong><%= ingredient.name %></strong></li>
              <% end %>
            </ul>
          </div>
          <hr>
          <p class="instructions">How to make it:</p>
          <div class="font-size-instruction"><%= @recipe.instruction %></div>
        </div>
        <hr>
      </div>
    <div class="btn-recipe-show">
      <%= link_to "Mix again!", new_preference_path, class: "btn btn-ghost-recipe" %>
    </div>
      <p class="info-details-luck-result">Feeling lucky? 🍀</p>
      <p class="info-details-show">Try our <strong><%= link_to "cocktail roulette", roulette_path, class: "roulette-link" %></strong>.</p>
  </div>
</div>
