
<div class="container">
  <h2 class="team-title">This is your event collection.</h2>
  <hr>
  <div class="questions-container">
      <div class="row">
          <p class="instructions">Your cocktails:</p>
          <% @favorites.each do |favorite| %>
          <div class="col-12 col-md-6">
          <%= link_to recipe_path(favorite.favoritable) do %>
            <div class="card card-recipe mx-auto" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%=favorite.favoritable.image_url%>); background-size: cover" >
              <%= render "recipes/favorite", recipe: favorite.favoritable %>
              <h2 class="card-recipe-title"><%= favorite.favoritable.name %></h2>
            </div>
            <% end %>
          </div>
        <%end%>
          <hr>

        <hr>
      </div>
    <div class="btn-recipe-show">
      <%= link_to "Mix again!", new_preference_path, class: "btn btn-ghost-recipe" %>
    </div>
      <p class="info-details-luck">Feeling lucky? 🍀</p>
      <p class="info-details-show">Try our <strong><%= link_to "cocktail roulette", roulette_path, class: "roulette-link" %></strong>.</p>
  </div>
</div>




  <%# <% @favorites.each do |selection| %>
    <%# <h1><%= selection.favoritable.name</h1> %>
  <%# <% end %>
