<div class="navbar navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png', style: 'height:7vh; width:auto; margin-left: 15px' %>
  <% end %>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-end">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.key.nil? %>
            <%= image_tag "default_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      <% else %>
        <div class="signers">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link nav-link-log-in" %>
          </li>
          <li class="nav-item nav-item-sign-up">
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-link nav-link-sign-up" %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
