<%= favicon_link_tag asset_path('1_orange.svg') %>
<div class="container-img">
</div>
<hr class="spacer">
  <h1 class="title">THIRST TRAIL</h1>
  <h2 class="subtitle">• YOUR POCKET COCKTAIL BUILDER •</h2>
<hr class="spacer-bottom">

<div class="home-container">
<br>
  <div class="btn-home">
    <%= link_to "Get started", getstarted_path, class: "btn btn-ghost" %>
  </div>
  <div class="row">
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">HOW IT WORKS</h2>
          <p class="info-details">Tell us about your event, share your mood, pick your ingredients and let our app generate delicious cocktails for your parties.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <%= link_to "OUR TEAM", ourteam_path, class: "info-title" %><i class="fas fa-external-link-alt"></i>
          <p class="info-details">We are a team of four developers with a thirst for amazing UX (and delicious cocktails!)</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">OUR PARTNERS</h2>
          <p class="info-details">Our partners include Le Wagon Portugal and Rent-a-Mixer, an app by ThirstTrail.</p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="home-card">
          <%= link_to "REVIEWS", howitworks_path, class: "info-title" %><i class="fas fa-external-link-alt"></i>
          <p class="info-details">Check our reviews by some of our beloved cocktail enthusiasts!</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <%= link_to "CONTACT US", contact_path, class: "info-title" %><i class="fas fa-external-link-alt"></i>
          <p class="info-details">We are always happy to help you so please do not hesitate in contacting us with any query you might have.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">FIND US</h2>
          <p class="info-details">You can find us at the following pages:
          <%# <a target="_blank" href="https://github.com/jreis13/ThirstTrail"><i class="fab fa-github"></i></a></p> %>
          <div class="social-links" id="social-media">
            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="footer">
  </div>
</div>
