<%= simple_form_for @preference do |f| %>
<div class="splide" data-controller="preferences">
  <div class="my-slider-progress">
    <div class="my-slider-progress-bar" data-preferences-target="bar"></div>
  </div>

  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="questions-container" id="question-alcohol">
          <div class="question">
            <p>Would you like alcohol on your cocktail?</p>
            <hr>
          </div>
            <div class="alcohol-choice">
              <%= f.input :alcohol, as: :radio_buttons, collection: @alcohol,
                input_html: { class: 'remove-button', data: {
                  action: 'click->preferences#preferenceSelected'
                } },
                wrapper_html: { class: 'questions-cards' },
                label: '',
                required: false %>
            </div>
          <p class='hint'>💡 Did you know? A non-alcoholic cocktail is called a mocktail or a virgin cocktail.</p>
        </div>
      </li>
      <li class="splide__slide">
        <div class="questions-container" id="question-event">
          <div class="question">
            <p>What type of event are you organizing?</p>
            <hr>
          </div>
            <div class="event-choice">
                <%= f.input :event_type, as: :radio_buttons, collection: @event_type,
                input_html: { class: 'remove-button', data: {
                  action: 'click->preferences#preferenceSelected'
                } },
                wrapper_html: { class: 'questions-cards' },
                label: '',
                required: false %>
              </div>
          <p class='hint'>💡 Did you know? The first cocktail party was held in 1917.</p>
        </div>
      </li>
      <li class="splide__slide">
        <div class="questions-container" id="question-type">
          <div class="question">
            <p>What kind of cocktail would you like?</p>
            <hr>
          </div>
            <div class="category-choice">
                <%= f.input :cocktail_category, as: :radio_buttons, collection: @cocktail_category,
                input_html: { class: 'remove-button', data: {
                  action: 'click->preferences#preferenceSelected'
                } },
                wrapper_html: { class: 'questions-cards' },
                label: '',
                required: false %>
              </div>
          <p class='hint'>💡 Did you know? There are only 3 "official" cocktail categories according to the International Bartenders Association.</p>
        </div>
      </li>
      <li class="splide__slide">
        <div class="questions-container" id="question-ingredient">
          <div class="question">
            <p>Is there any ingredient you want in your cocktail?</p>
            <hr>
          </div>
          <div class="ingredient-choice">
            <%= f.input :ingredients, collection: @ingredients,
            input_html: { multiple: true, class: 'js-example-basic-multiple' },
            required: false %>
          </div>
        </div>
      </li>

      <li class="splide__slide">
        <div class="questions-container" id="question-type">
          <div class="question">
            <p>Our expert mixologists are ready to create your recipe!</p>
            <hr>
            <div><iframe src="https://giphy.com/embed/l3fQaE2lbSAPUnB04" width="100%" height="190px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          <br>
          <br>
          <br>
            <%= f.submit "Mix it!", :class => "btn-recipe" %>
          </div>
      </li>
    </ul>
  </div>
</div>
<% end %>
